.user-infor{

text-align: center;
font-size: 30px;

}

.user-infor *{
    margin-top: 20px;
}
.header-user-infor{
    margin-top: 30px;
    margin-bottom: 30px;
}
.display_name_userInfo button{
    margin-left: 20px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    height: 30px;
}
.display_name_userInfo input{
   width: 200px;
   height: 30px;
}

.age button{

    margin-left: 20px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    height: 30px;
}
.age input{
    width: 200px;
    height: 30px;
}
.address button{
    margin-left: 20px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    height: 30px;
    
}
.address input{
    
        width: 200px;
        height: 30px;
}
.sex button{
    margin-left: 20px;
    background-color: #0d6efd;
    color: white;
    border-radius: 5px;
    height: 30px;
    
}
.sex input{
   
        width: 200px;
        height: 30px;
    
}
